@use '../variables' as *;
@use '../breakpoints.scss' as *;
@use '../typography.scss' as *;



.scroll-hinter {
  position: fixed;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $space-16;
  pointer-events: none;
  z-index: 1002;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;

  @include breakpoint(mobile) {
    bottom: 1.5rem;
  }
}

.scroll-text {
  font-family: $font-anonymous;
  font-size: font-s;
  letter-spacing: 0.1em;
  color: $blue;
  text-decoration: none;
  pointer-events: auto;
  cursor: pointer;

  animation: scrollText 4s ease-in-out infinite;

  &:hover {
    opacity: 0.7;
  }

  @include breakpoint(mobile) {
    font-size: font-xs;
    letter-spacing: 0.25em;
  }
}

.scroll-line {
  width: 2px;
  height: 0px;
  border-radius: 50%;
  background: $blue;

   transform-origin: top;
   animation: scrollLine 4s ease-in-out infinite;
}


@keyframes scrollLine {
  0% {
    height: 0;
    opacity: 1;
  }

  25% {
    height: 50px;
    opacity: 1;
    @include breakpoint(mobile) {
      height: 10px;
    }
  }

  55% {
    height: 0;
    opacity: 1;
  }

  100% {
    height: 0;
    opacity: 0;
  }
}

@keyframes scrollText {
  0% {
    opacity: 1;
  }

  70% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}