@use 'sass:color';
@use '../variables' as *;
@use '../accesibility' as *;
@use '../breakpoints' as *;
@use '../typography' as *;


@use 'blocks' as *;
@use 'breadcrumbs' as *;
@use 'lightbox' as *;
@use 'side-nav-bar' as *;
@use 'hero' as *;
@use 'line-breaker' as *;
@use 'carousel' as *;
@use 'accordion' as *;

// Only definition of blocks and columns and grids

//------------------
// General structure
//------------------
.case-study-page{
    padding: 0 !important;
    margin:0 !important;
    p{
        color: $neutral;

        @include breakpoint(mobile){
            font-size: calc($font-base*0.9);
            line-height: 1.3;
        }
    }
    
    .cs-text, .cs-text li{
        font-size: $font-base !important;

        @include breakpoint(mobile){
            font-size: calc($font-base*0.9) !important;
        }
    }
    .cs-subtext{

    }
}

.cs-block{
    &.cs-block-one-column{
        padding: 1rem 4rem;
        margin-bottom: 1rem;

        & * {
        // max-width: 70vw;
        @include breakpoint(mobile){
            max-width: 100%;
        }
        }
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        
        @include breakpoint(mobile){
            padding: 1rem 2rem;

        }
    }

    &.cs-block-two-column{
        // display: flex;
        // flex-direction: row;
    
        &.inner{
            display: flex;
            flex-direction: column;
            
            @include breakpoint(mobile){
            // display: block;
            flex-direction: column;
            padding: 0;
            }
            
            .cs-column{
                // width: 50%;
            @include breakpoint(mobile){
                width: auto;
            }
            &.tight{
                padding-right: 4rem;
                @include breakpoint(mobile){
                    padding-right:0;
                }
            }

            }
        }
    }




&.cs-block-two-column-text, &.cs-block-two-column{
    padding: 1rem 4rem;
    margin-bottom: 1rem;

    @include breakpoint(mobile){
        padding: 1rem 2rem;
    }
    .two-column-grid{
        gap: 5rem;
    }
    &.inversed .two-column-grid{
        display: flex;
        flex-direction: column-reverse;
    }
    .cs-block-text-image{
        padding: 0;
    }
}

}

section.cs-section{
  margin-bottom: 3rem;
  background-color: white;
}




// Before and After 

.cs-block.cs-before-after{

    @include breakpoint(mobile){
        padding: 1rem 2rem;
    }

    .cs-before-after-grid{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 3rem;

        @include breakpoint(mobile){
            flex-direction: column;
            gap: 1rem;
        }
    }
}


// Gallery block
.cs-block.cs-block-gallery{
    .cs-gallery-grid{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 2rem;

        @include breakpoint(mobile){
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem;
        }
    }
}



//------------------
// TOP NAV - CASE STUDIES
//------------------
.cs-breadcrumbs{
        @include breakpoint(mobile){
            width: 100%;
            max-width: none;
            padding: 1rem 2rem 1rem 2rem;

        }
    .cs-breadcrumb-nav{
        @include breakpoint(mobile){
            max-width: none;
            width: auto;

            .cs-nav-label{
                position: relative;
                min-width: 100px;
            }
        }

    }
}




//------------------
// Color Themes
//------------------


// Theme variations - targeting .cs-header when theme is on parent .case-study-page
.case-study-page[data-theme="blue"] .cs-header {
  background-color: $blue-light;

  .cs-tag {
    background-color: $color-blue-alpha;
    color: $blue-dark;
  }

  .cs-metric-card {
    background-color: $color-bg;
  }
}

.case-study-page[data-theme="green"] .cs-header {
  background-color: $green-light;

  .cs-breadcrumbs {
    .cs-breadcrumb-nav {
      color: $green-dark;

      .cs-nav-title {
        color: rgba($green, 0.6);
      }

      &:hover .cs-nav-title {
        color: $green;
      }
    }
  }

  .cs-tag {
    background-color: $color-green-alpha;
    color: $green-dark;
  }

  .cs-metric-card {
    background-color: $color-bg;
  }
}

.case-study-page[data-theme="neutral"] .cs-header {
  background-color: $cream;

  .cs-breadcrumbs {
    .cs-breadcrumb-nav {
      color: $neutral;

      .cs-nav-title {
        color: rgba($blue-dark, 0.5);
      }

      &:hover .cs-nav-title {
        color: $blue-dark;
      }
    }
  }

  .cs-tag {
    background-color: $color-cream-alpha;
    color: $blue-dark;
  }

  .cs-metric-card {
    background-color: $color-bg;
  }
}

.switch-container{
    display: none;
}
